/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Various stuff for dds-vfo dial */
v\:oval,
v\:shadow,
v\:fill {
    behavior: url(#default#VML);
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
}
.yui3-dial{
    position:relative;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.yui3-dial-content,
.yui3-dial-ring{
    position:relative;
}
.yui3-dial-label{
  display: None;
}
.yui3-dial-handle,
.yui3-dial-marker,
.yui3-dial-center-button,
.yui3-dial-reset-string,
.yui3-dial-handle-vml,
.yui3-dial-marker-vml,
.yui3-dial-center-button-vml,
.yui3-dial-ring-vml v\:oval,
.yui3-dial-center-button-vml v\:oval
{
    position:absolute;
}
.yui3-dial-center-button-vml v\:oval {
    font-size:1px;
    top:0;
    left:0;
}
.yui3-skin-sam .yui3-dial-hidden {
    opacity:0;
    filter:alpha(opacity=0);
}
